img{
	max-width: 100%;
}
body{
	font-family: 'Lato', sans-serif;
	background-color: #DCDEE3;
}
.remove-float{
	float: none;
}
.indieflower{
	font-family: 'Indie Flower', cursive; 
}
.top-space{
	margin-top: 50px;
}
.right-space a{
	margin-right: 1em;
}
.green{
	color: #00887C;
}
a{
	color:#009FFF;
}